<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>
        ディズニー診断
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>
            ディズニー攻略診断
        </h1>

        <p>

            いくつかの質問に答えるだけで

            あなたにぴったりな

            ディズニーの楽しみ方を診断します！

        </p>

        <a href="/question">

            <button>

                診断スタート

            </button>

        </a>

    </div>

</body>

</html>