<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>
        ディズニー診断
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>
            ディズニー攻略プラン診断
        </h1>

        <p class="question-step">
            STEP 1
        </p>

        <h2 class="question-main">
            行きたいのはランド？シー？
        </h2>

        <p class="question-sub">
            行きたいパークを選んでください
        </p>

        <form action="/question_detail" method="POST">

            <label class="park-card">
                
                <div class="park-icon">
                    <img
                    src="{{ url_for('static',
                    filename='castle2.png') }}"
                    class="park-icon">
                </div>

                <input
                    type="radio"
                    name="park"
                    value="land"
                    required>


                <h3>
                    東京ディズニーランド
                </h3>

            </label>

            <label class="park-card">

                <input
                    type="radio"
                    name="park"
                    value="sea"
                    required>

                <div class="park-icon">
                    <img
                        src="{{ url_for('static',
                        filename='anchor.png') }}"
                        class="park-icon">
                </div>

                <h3>
                    東京ディズニーシー
                </h3>

            </label>

            <br>

            <button type="submit" class="main-button">
                次へ
            </button>

        </form>

    </div>

</body>

</html>